*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: min(100vw, 500px);
    padding: 1rem;
    margin: auto;
}

#game-field {
    aspect-ratio: 1;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

[data-i] {
    font-family: sans-serif;
    font-size: calc(5vw + 2rem);
    text-transform: uppercase;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
